.menu {
    grid-area: m;

}
.menu {
    background-color: #91ab7f;
    line-height: 250%;

}
.item a {
    font-family: "Droid Sans Mono Slashed", sans-serif;
    margin-left: 20%;
    color: black;
    font-size: x-large;
    text-decoration: none;

}
a.active
{
    color: gray;
}
