.noResume
{
    margin-left: 20%;
    font-size: 300%;

}
.resumePageWrapper
{

}
.addingNewResumeButton a
{
    font-size: 300%;
    text-decoration: none;
    color: darkslategrey;
    margin-left: 30%;

}
.resumePage{
    margin-left: 100%;
}
a.active
{
    color: gray;
}
.resumeForm
{
    font-size: 120%;
    margin-left: 50%;
}