.header {
    grid-area: h;
    background-color: lightseagreen;
}
.item
{
    margin-left: 500px;
    color: #231c2c;
    font-size: 250%;

    font-family: "Droid Sans Mono Slashed", sans-serif;
}
.img
{
    margin-left: 2%;
    line-height: 500px;
}