.vacancy_wrapper{
    display: grid;

    grid-template-areas:
            "h v h ";

    grid-template-columns: 5fr 5fr 5fr;

    scroll-padding-right: 3%;

}
.definition {
    color: darkslategrey;
    font-size: 150%;
    line-height: 150%;
    text-shadow: black 1px 1px 0;
}
.vacancy_description
{
    grid-area: v;
    font-size: 100%;
    color: black;
    font-family: "Apple LiSung", serif;
    margin-right: 40%;

    background-color: darkseagreen;

}
.select{
    background: url(https://png.icons8.com/ios/1600/double-down-filled.png) 96% / 15% no-repeat #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    width: 34%;
}