.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}
.rounded a:hover {background: #E9E4E0;}
.rounded a:hover:before {transform: rotate(360deg);}
.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
.main_container {
    width: 500px;
    height: 165px;
    background: none;
    transform: translate(60%, 50%);
}
.f {
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 20px;
    border-bottom: black;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    margin-bottom: 32%;

}

.f:hover {
    transform: rotateY(180deg);
}
.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-color: black;
    border-bottom: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    background: #eeeeee;
    color: #524f4e;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.back_card {
    top:100%;
    left: 0;
    width: 100%;
    height: 120%;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    color: #524f4e;
    background: #eeeeee;
    font-size: 20px;
    text-align: center;
    transform: rotateY(180deg);
}
.select{
    background: url(https://png.icons8.com/ios/1600/double-down-filled.png) 96% / 15% no-repeat #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    width: 34%;
}
.vacancy{
    margin-bottom: 5%;
    margin-top: 5%;
}
.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 20px;
    border-radius: 45px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    background: white;
    transition: .3s;
}
.button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
.name {
    overflow: hidden;
    text-align: center;
    color: lightseagreen;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

}