.app-wrapper {
  display: grid;

  grid-template-areas:
          "h h "
          "m c ";
  grid-template-rows: 100px 2000px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content{
  grid-area: c;
  background-color: #ede9ee;
}
